*{
    margin: 0;
    }
    html{
        height: 100%;
        position: relative;
        min-height: 100%;
    }
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    header{
        width: 100%;
        height :11vh;
        /* background-color: #8e1b21; */
        line-height:4;
        position: fixed;
        z-index: 9;
    }
    
    .header{
        padding: 10px 16px;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky + .body {
        position: fixed;
        top: 0;
        width: 100%;
      }
    .img1{
        width:135px;
        height:auto;
        margin-right: 10px;
        margin-top: 10px;
    }

    .Nav{
      width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        
    }
    
    .img1{
        -webkit-filter: drop-shadow(5px 5px 5px #31e7d6);
        filter : drop-shadow(5px 5px 5px #31e7d6)
    }
    
    .dropdown{
        float: left;
        overflow: hidden;
        margin-left: 7px;
        margin-top: 16px;
    }
    
    .dropdown .dropbtn{
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 4px 6px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      text-align: center;
    }
    
    .dropdown:hover .dropbtn{
        background-color: #04070a; /* old colour 5d0c1d*/
    }
    
    
    
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        list-style: none;
        margin-right: 20%;
    }
    .dropdown-content a {
        float: none;
        color: black;
        padding: 4px 5px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    .dropdown-content a:hover{
        color: white;
        background-color: #04070a ;    
    }
    
    /* .coba{
        width: 100vh;
        height: auto;
        position: absolute;
        top: 0;
        left: 0px;
        margin-top: 23%;
        z-index: 1;
        transition: 0.3s;
        text-align: center;
        background-color: #04070a ;
    } */

    .bgclr{
        background-color: #04070a;
    }
    .ontop3{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
    
        -webkit-filter: drop-shadow(0px 50px 40px #31e7d6);
        filter : drop-shadow(0px 50px 40px #31e7d6)
       
    }
    

    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    footer{
        position: relative;
        bottom: 0;
        width: 100%;
        height: auto;
        background-color: #04070a;
    } 
    
    .soctext{
        font-size: 18px;
        color: white;
        margin-left: 40%;
        /*! padding: ; */
        padding-bottom: 0%;
    }
    .socimg{
        margin-left: 43%;
        white-space: nowrap;
        /*! padding: ; */
        padding-bottom: 1%;
    }
    .socimg img:hover{
        opacity: 50%;
    }
    
    
    .maturepct{
        float: left;;
        padding-right:3%;
        text-align: center;
    }
    .cpy{
        text-align: justify;
        margin-left: 15%;
        margin-right: 15%;
        font-family: 'Oxygen', sans-serif;
        font-size: 14px;
        color: white;
        padding-bottom: 2%;
    }
    
    .pvc a{
        border-right: 1px solid #ffea02;
        text-decoration: none;
        color: white;
        font-family: 'Roboto Mono', monospace;
      padding-right: 1%;
    }
    
    .pvc1{
        margin-left: 30%;
        margin-top: 20%;
    }
    .pvc2{
        padding-left: 1%;
        margin-top: 20%;
    }
    .pvc3{
        padding-left: 1%;
        margin-top: 20%;
        /*! padding-right: 29%; */
    }
    .pvc4{
        padding-left: 1%;
        margin-top: 20%;
    }

    .title{
        color: #31e7d6;
        max-width: 500px;
       font-size: 5vw;
        height: auto;
        position: absolute;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 5;
        padding-left: 35%;
        top: 8%;
    }

        .container{
            width: 500px;
            clear: both;
            z-index: 7;
            color: white;
            position: absolute;
             top: 50%;
             left: 40%;

            
        }

  

@media  (max-width: 800px){
  
    .container{

    top: 18%;
    }

    .header{
        height: auto;
    }
    
    .img1{
            width: 100px;
            height: auto;
    }
        footer{
            flex-direction: column;
            height: auto;
        }
    
        .socimg{
            display: none;
        }
    
        .soctext{
            width: 0;
            height: 0;
            font-size: 0;
            display: none;
        }
        .socimg{
            width: 0;
            height: 0;
            opacity: 0;
        }
        .maturepct{
            padding-right:3%;
            width: 200px;
        }
    
        .cpy p{
            margin-top: 6%;
            text-align: justify;
            font-size: 13px;
        }
        .pvc{
            margin-bottom: 0%;
        }
        .pvc a{
            font-size: 12px;
            
        }
        .pvc1{
            margin-left: 17%;
        }
        .pvc3{
            padding-right: 1%;
        }
        .pvc4{
            padding-left: 1%;
          
            margin-left: 0%;
        }
    }
    
    @media (max-width: 750px){
      
        .container{
        
        }

    .header{
        height: auto;
    }
    
    .img1{
            width: 100px;
            height: auto;
    }
        footer{
            flex-direction: column;
            height: auto;
        }
    
        .soctext{
            width: 0;
            height: 0;
            font-size: 0;
        }
        .socimg{
            width: 0;
            height: 0;
            opacity: 0;
        }
        .maturepct{
            padding-right:1%;
            width: 188px;
        }
    
        .cpy p{
            margin-top: 6%;
            text-align: justify;
            font-size: 11px;
        }
        .pvc{
            margin-bottom: 0%;
        }
        .pvc a{
            font-size: 12px;
            
        }
        .pvc1{
            margin-left: 15%;
        }
        .pvc3{
            padding-right: 1%;
        }
        .pvc4{
            padding-left: 1%;
          
            margin-left: 0%;
        }
        
    }
    
    @media (max-width: 700px){
        
        .container{
        
        }

        .header{
            height: auto;
        }
        
        .img1{
                width: 100px;
                height: auto;
        }
            footer{
                flex-direction: column;
                height: auto;
            }
        
            .soctext{
                width: 0;
                height: 0;
                font-size: 0;
            }
            .socimg{
                width: 0;
                height: 0;
                opacity: 0;
            }
            .maturepct{
                padding-right:3%;
                width: 176px;
            }
        
            .cpy p{
                margin-top: 6%;
                text-align: justify;
            }
            .pvc{
                margin-bottom: 0%;
            }
            .pvc a{
                font-size: 11px;
                
            }
            .pvc1{
                margin-left: 15%;
            }
            .pvc3{
                padding-right: 1%;
            }
            .pvc4{
                padding-left: 1%;
              
                margin-left: 0%;
            }
    }
    
    @media (max-width: 650px){
      
        .container{
        
        }

        .header{
            height: auto;
        }
        
        .img1{
                width: 100px;
                height: auto;
        }
            footer{
                flex-direction: column;
                height: auto;
            }
        
            .soctext{
                width: 0;
                height: 0;
                font-size: 0;
            }
            .socimg{
                width: 0;
                height: 0;
                opacity: 0;
            }
            .maturepct{
                padding-right:3%;
                width: 164px;
            }
        
            .cpy p{
                margin-top: 6%;
                text-align: justify;
            }
            .pvc{
                margin-bottom: 0%;
            }
            .pvc a{
                font-size: 11px;
                
            }
            .pvc1{
                margin-left: 14%;
            }
            .pvc3{
                padding-right: 1%;
            }
            .pvc4{
                padding-left: 1%;
              
                margin-left: 0%;
            }
    }
    
    @media (max-width: 600px){
      
        .container{
        
        }

        .header{
            height: auto;
        }
        
        .img1{
                width: 100px;
                height: auto;
        }
            footer{
                flex-direction: column;
                height: auto;
            }
        
            .soctext{
                width: 0;
                height: 0;
                font-size: 0;
            }
            .socimg{
                width: 0;
                height: 0;
                opacity: 0;
            }
            .maturepct{
                padding-right:3%;
                width: 152px;
            }
        
            .cpy p{
                margin-top: 6%;
                text-align: justify;
                font-size: 10px;
            }
            .pvc{
                margin-bottom: 0%;
            }
            .pvc a{
                font-size: 11px;
                
            }
            .pvc1{
                margin-left: 12%;
            }
            .pvc3{
                padding-right: 1%;
            }
            .pvc4{
                padding-left: 1%;
              
                margin-left: 0%;
            }
    }
    @media (max-width: 550px){
      
        .container{
        
        }

        .header{
            height: auto;
        }
        
        .img1{
                width: 100px;
                height: auto;
        }
            footer{
                flex-direction: column;
                height: auto;
            }
        
            .soctext{
                width: 0;
                height: 0;
                font-size: 0;
            }
            .socimg{
                width: 0;
                height: 0;
                opacity: 0;
            }
            .maturepct{
                padding-right:3%;
                width: 140px;
            }
        
            .cpy p{
                margin-top: 6%;
                text-align: justify;
                font-size: 9px;
            }
            .pvc{
                margin-bottom: 0%;
            }
            .pvc a{
                font-size: 11px;
                
            }
            .pvc1{
                margin-left: 24%;
            }
            .pvc3{
                padding-right: 1%;
            }
            .pvc4{
                padding-left: 1%;
              
                margin-left: 32%;
                border-left: 1px solid #ffea02;
            }
    }
    @media (max-width: 500px){
      
        .container{
        
        }

        .header{
            height: auto;
        }
        
        .img1{
                width: 100px;
                height: auto;
        }
            footer{
                flex-direction: column;
                height: auto;
            }
        
            .soctext{
                width: 0;
                height: 0;
                font-size: 0;
            }
            .socimg{
                width: 0;
                height: 0;
                opacity: 0;
            }
            .maturepct{
                padding-right:3%;
                width: 128px;
            }
        
            .cpy p{
                margin-top: 6%;
                text-align: justify;
            }
            .pvc{
                margin-bottom: 0%;
            }
            .pvc a{
                font-size: 11px;
                
            }
            .pvc1{
                margin-left: 21%;
            }
            .pvc3{
                padding-right: 1%;
            }
            .pvc4{
                padding-left: 1%;
              
                margin-left: 28%;
                border-left: 1px solid #ffea02;
            }
    }
    @media (max-width: 450px){
      
        .container{
        
        }

        .header{
            height: auto;
        }
        
        .img1{
                width: 100px;
                height: auto;
        }
            footer{
                flex-direction: column;
                height: auto;
            }
        
            .soctext{
                width: 0;
                height: 0;
                font-size: 0;
            }
            .socimg{
                width: 0;
                height: 0;
                opacity: 0;
            }
            .maturepct{
                padding-right:1%;
                width: 106px;
            }
        
            .cpy p{
                margin-top: 6%;
                text-align: justify;
                font-size: 8px;
            }
            .pvc{
                margin-bottom: 0%;
            }
            .pvc a{
                font-size: 11px;
                
            }
            .pvc1{
                margin-left: 19%;
            }
            .pvc3{
                padding-right: 1%;
            }
            .pvc4{
                padding-left: 1%;
              
                margin-left: 28%;
                border-left: 1px solid #ffea02;
            }
    }
    @media (max-width:400px){
      
        .container{
        
        }

        .header{
            height: auto;
        }
        
        .img1{
                width: 100px;
                height: auto;
        }
            footer{
                flex-direction: column;
                height: auto;
            }
        
            .soctext{
                width: 0;
                height: 0;
                font-size: 0;
            }
            .socimg{
                width: 0;
                height: 0;
                opacity: 0;
            }
            .maturepct{
                padding-right:3%;
            }
        
            .cpy p{
                margin-top: 6%;
                text-align: justify;
            }
            .pvc{
                margin-bottom: 0%;
            }
            .pvc a{
                font-size: 11px;
                
            }
            .pvc1{
                margin-left: 16%;
            }
            .pvc3{
                padding-right: 1%;
            }
            .pvc4{
                padding-left: 1%;
              
                margin-left: 25%;
                border-left: 1px solid #ffea02;
            }
    }
    @media (max-width:350px){
         
        .container{
        
        }

    .header{
        height: auto;
    }
    
    .img1{
            width: 100px;
            height: auto;
    }
        footer{
            flex-direction: column;
            height: auto;
        }
    
        .soctext{
            width: 0;
            height: 0;
            font-size: 0;
        }
        .socimg{
            width: 0;
            height: 0;
            opacity: 0;
        }
        .maturepct{
            padding-right:3%;
        }
    
        .cpy p{
            margin-top: 6%;
            text-align: justify;
        }
        .pvc{
            margin-bottom: 0%;
        }
        .pvc a{
            font-size: 11px;
            
        }
        .pvc1{
            margin-left: 12%;
        }
        .pvc3{
            padding-right: 1%;
        }
        .pvc4{
            padding-left: 1%;
          
            margin-left: 22%;
            border-left: 1px solid #ffea02;
        }
    }